RewriteEngine on

RewriteRule ^student_training.html$ index.php?p=studentTraining [L]
RewriteRule ^teacher_training.html$ index.php?p=teacherTraining [L]
RewriteRule ^staff_training.html$ index.php?p=staffTraining [L]
RewriteRule ^public_training.html$ index.php?p=publicTraining [L]
RewriteRule ^lesson.html$ index.php?p=lesson [L]



